.dropcol {
    background-color: rgb(243, 243, 243);
}

.mobilename {
    margin-top: .7rem;
    margin-bottom: .4rem;
    font-size: .9rem;
    font-weight: 500;
    color: rgb(115, 115, 115);
}

.dropdownmobile {
    margin-top: .3rem;
    box-shadow: 0rem 0rem 1rem rgb(202, 202, 202);
}

.mobilelist {
    list-style: none;
    font-size: .9rem;
    color: gray;
    margin-bottom: .3rem;
    text-decoration: none;
}
.sporthead {
    font-size: .9rem;
    font-weight: 500;
    color: rgb(115, 115, 115);
    text-decoration: none;
}
.mobilelist {
    list-style: none; 
}
a{
    text-decoration: none;
    color: rgb(115, 115, 115);
}