<div class="container-fluid dropdownmobile">
    <div class="row ">
        <div class="col">
            <div class="row" *ngFor="let d of homecol1">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of homecol11">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of homecol12">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of homecol13">
                <div class=" mobilename">{{d.name}}</div>
            </div>
        </div>
        <div class="col dropcol">
            <div class="row" *ngFor="let d of homecol2">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of homecol21">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of homecol22">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of homecol23">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of homecol24">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row" *ngFor="let d of homecol3">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of homecol31">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of homecol32">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col dropcol">
            <div class="row" *ngFor="let d of homecol4">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of homecol41">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of homecol42">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of homecol43">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row" *ngFor="let d of homecol5">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of homecol51">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of homecol52">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of homecol53">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of homecol54">
                <div class=" mobilename">{{d.name}}</div>
            </div>
        </div>
    </div>
</div>