<header>
    <div class="container">
        <div class="row  navb">
            <div class="col-2 logo">
                <span class="flipkart">Flipkart</span>
                <a class="explore">Explore<span class="plus">Plus</span></a>
            </div>
            <div class="col-4">
                <input type="text" class="navinput" placeholder="Search for products,brands and more">
            </div>
            <div class="col-2">
                <button class="loginbtn">Login</button>
            </div>
            <div class="col-2 align-center">
                <a class="seller">Become a seller</a>
            </div>
            <div class="col-1">
                <a class="more">More</a>
            </div>
            <div class="col-1">
                <a class="cart"><i class="fa-solid fa-cart-shopping"></i>Cart</a>
            </div>
        </div>
    </div>
</header>