<header>
    <!-- <div class="container"> -->
    <div class="row  navb">
        <div class="col-1 logo">
            <span class="flipkart">Flipkart</span>
            <a class="explore">Explore<span class="plus">Plus</span></a>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <input type="text" class="navinput" placeholder="Search for products,brands and more">
        </div>
        <div class="col-2 d-flex justify-content-end">
            <button type="button" class="btn btn-secondary border border-0 loginbtn" routerLink="/login" *ngIf="!authenticated">
             Login
            </button>
            <button type="button" class="btn btn-secondary border border-0 loginbtn" *ngIf="authenticated" (click)="logout()">
              Logout
             </button>
        </div>
        <div class="col-2 d-flex justify-content-center">
            <a class="seller">Become a seller</a>
        </div>
        <div class="col-1">
            <a class="more">More</a>
        </div>
        <div class="col-1">
            <a class="cart" routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i>Cart</a>
        </div>
    </div>
    <!-- </div> -->
</header>