<div class="container-fluid dropdownmobile">
    <div class="row ">
        <div class="col">
            <div class="row" *ngFor="let d of tvcol">
                <div class="mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of tvcol1">
                <div class="mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of tvcol12">
                <div class="mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of tvcol13">
                <div class="mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of tvcol14">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col dropcol">
            <div class="row" *ngFor="let d of tvcol2">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of tvcol21">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of tvcol22">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of tvcol23">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row" *ngFor="let d of tvcol3">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of tvcol31">
                <div class=" mobilename">{{d.name}}</div>
            </div>
        </div>
        <div class="col dropcol">
            <div class="row" *ngFor="let d of tvcol4">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of tvcol41">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="row" *ngFor="let d of tvcol5">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of tvcol51">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
    </div>
</div>