<app-innerdropdown></app-innerdropdown>
<div class="productdetail">
    <div class="product" *ngFor="let item of singleproductarray">
        <div class="productdetailback">
            <div class="">

            </div>
        </div>
        <div class="">
            <div class="leftproduct">
                <img src={{item.img}} class="productdetailimg">
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary buybtn">
                <i class="fa-solid fa-cart-shopping"></i>ADD TO CART
                  </button>
                    <button type="button" class="btn btn-secondary buybtn1" (click)="toBook()">
                    BUY NOW
                      </button>
                </div>
            </div>
        </div>
        <div class="productdetailright">
            <div class="breadcrumbs"><a routerLink='/homepage' class="bread">Home</a><i class="fa-solid fa-chevron-right"></i><a routerLink="/sports" class="bread">Sports</a><i class="fa-solid fa-chevron-right"></i><a>Cricket</a><i class="fa-solid fa-chevron-right"></i><a>Cricket {{item.cat}}</a></div>
            <h5>{{item.name}}</h5>
            <div class="ratingrow">
                <button class="starbtn">
                4<i class="fa-solid fa-star"></i>
            </button>
                <span class="rating102">102 Ratings & 16 Reviews</span>
                <img src="../../../assets/fassured.png" class="fassureddetail">
            </div>
            <div>Extra ₹100 off</div>
            <div class="costing">
                <div class="cost"><i class="fa-solid fa-indian-rupee  rupees"></i>{{item.price}}</div>
                <div class="cost1"><i class="fa-solid fa-indian-rupee  rupees1"></i>1,199</div>
                <div class="off">50% off</div>
            </div>
            <div class="available">Available offers</div>
            <div>
                <div class="offers"><i class=""></i>Special PriceGet extra ₹100 off (price inclusive of discount)<a href="#" class="terms">T&C</a></div>
                <div class="offers"><i class=""></i> Bank Offer5% Cashback on Flipkart Axis Bank Card<a href="#" class="terms">T&C</a></div>
                <div class="offers"><i class=""></i>Partner OfferSign up for Flipkart Pay Later and get Flipkart Gift Card worth upto ₹500*<a href="#" class="terms">Know More</a></div>
            </div>
            <div class="row highservice">
                <div class="col">
                    <div class="row">
                        <div class="col-3">
                            <div class="highlight">HighLights</div>
                        </div>
                        <div class="col-9">
                            <ul class="highlightlist">
                                <li class="highlist">Cricket Leather Ball</li>
                                <li class="highlist">Water Resistant</li>
                                <li class="highlist">Outer Material: Leather</li>
                                <li class="highlist">Weight: 150-170 g</li>
                                <li class="highlist">Suitable for: Dry, Wet Pitch</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-3">
                            <div class="highlight">Services</div>
                        </div>
                        <div class="col-9">
                            <ul class="highlightlist">
                                <li>7 Days Replacement Policy</li>
                                <li>Cash on Delivery available</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col-3">
                        <div class="highlight">Services</div>
                    </div>
                    <div class="col-4 seller">
                        <a href="#" class="jaspo">jaspo</a>
                        <button class="starbtn bg-primary">
                          4<i class="fa-solid fa-star"></i>
                      </button>
                    </div>
                </div>
            </div>
            <div class="descriptiongrid">
                <div class="">
                    <div class="highlight">Description</div>
                </div>
                <div class=" detail">
                    Cricket lovers, don't miss this!The Adrenex Maestro 4 Panel Int Cricket Ball is made from premium tanned leather cover and has high pronounced, hand-stitched seam giving it an ideal grip. With even bounce, this four-panel ball is ideal for club cricket.
                    It is engineered for shape retention with five layers of wooden yarn, strengthened cork and rubber core. This weather-resistant cricket ball is highly durable, bounce tested and gives reliable impact, optimal rotation and stable flight.About
                    Adrenex Adrenex is a sports and fitness brand from the house of Flipkart that designs equipment as well as apparel. It stands for the importance of a regular fitness regime essential to lead a fit and healthy life. Catering to all
                    ages across the country, the brand is all about a zest for life and energy.
                </div>
            </div>
        </div>
    </div>
