<!-- <app-innerdropdown></app-innerdropdown> -->
<div class="cricket">
    <div class="productfilter">
        <div class="profil">Filters</div>
        <hr>
        <div class="productscategories">
            CATEGORIES
        </div>
        <div class="sportfil "><i class="fa-solid fa-chevron-left"></i>Sports</div>
        <div class="sportfil">
            <div>
                <div class="" filterdropdown><i class="fa-solid fa-chevron-left"></i>Cricket</div>
                <ul class="filterlist">
                    <li>Cricket Bat</li>
                    <li>Cricket Ball</li>
                    <li>Cricket Kits</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="breadcrumb"><a class="bread">Home</a><i class="fa-solid fa-chevron-right"></i><a>Sports</a><i class="fa-solid fa-chevron-right"></i><a>Cricket</a></div>
        <div class="crickpara">
            <p>Cricket is one sport that most people love. To some, it is one of the most boring games ever invented, but to the rest, it’s the most interesting and engrossing sport in the world. In India, cricket is extremely popular and you can learn it
                from a young age. If you need to buy cricket equipment like cricket bats and cricket balls, cricket wickets, cricket pads you can browse online and buy what you need. You will find all kinds of cricket gear in cricket stores online. This
                information is updated on 31-Jul-22</p>
        </div>
        <div class="mb-1">
            <span class="cricketshow">Cricket</span><span class="cricketshowspan">(Showing 1 – 40 products of 28,443 products)</span>
        </div>
        <div class="sortby">
            <span class="sorts">Sort By</span>
            <span class="sorts">Popularity</span>
            <span class="sorts">Price -- Low to High</span>
            <span class="sorts">Price -- High to Low</span>
            <span class="sorts">Newest First</span>
        </div>
        <div class="row productrow">
            <div class="col-3">
                <img src="../../../../../assets/cricketball.png" class="productimg">
                <h6>Sagah flicks 2 panel Cricket Leather Ball </h6>
                <p>Pack of 1, White</p>
                <p><i class=""></i>199</p>
            </div>
            <div class="col-3">
                <img src="../../../../../assets/cricketbat.png" class="productimg">
                <h6>CEAT POPLAR WILLOW CRICKET BAT (No- 6) Poplar Willow Cricket Bat </h6>
                <p>0.900 g</p>
                <p><i class=""></i>349</p>
            </div>
            <div class="col-3">
                <img src="../../../../../assets/cricketkit.png" class="productimg">
                <h6>Aurion Cricket Bag Shoulder Straps Sports Cricket Kit Bag for 2 Bat Caves with 2 pockets</h6>
                <p>Multicolor, Kit Bag</p>
                <p><i class=""></i>499</p>
            </div>
            <div class="col-3">
                <img src="../../../../../assets/cricketgloves.png" class="productimg">
                <h6>JetFire Basic Youth Batting Gloves (Age Group 8-12 Year) Batting Gloves</h6>
                <p>Red, White</p>
                <p><i class=""></i>246</p>
            </div>
            <!-- <div class="col-3">
                <img src="../../../../../assets/" class="productimg">
                <h6>dfdsfsdfsf</h6>
                <p>sdsadd</p>
                <p><i class=""></i>249</p>
            </div> -->
        </div>
    </div>
</div>
