.logincontainer {
    width: 100%;
    height: 100vh;
    padding-top: 1rem;
    background-color: rgb(237, 237, 237);
    padding-bottom: 3rem;
}

.error {
    font-size: .6rem;
    color: red;
}

.login {
    height: 35rem;
}

.loginleft {
    background-color: #047BD5;
    padding: 3rem 2rem;
}

.loginright {
    background-color: white;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.loginput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .05rem solid rgb(213, 213, 213);
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.loginform {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.loginame {
    font-size: 2rem;
    color: white;
    font-weight: 500;
}

.loginquotes {
    font-size: 1.15rem;
    margin-top: 1.5rem;
    color: rgb(197, 197, 197);
    font-weight: 500;
}

.or {
    margin-top: 1rem;
    color: rgb(145, 145, 145)
}

.loginsubmit {
    width: 100%;
    padding-top: .7rem;
    padding-bottom: .7rem;
    background-color: #fb641b;
    color: white;
    font-weight: 500;
}

.loginpolicy {
    font-size: .8rem;
    text-align: start;
    color: rgb(145, 145, 145)
}

.loginpolicydiv {
    width: 100%;
}

.loginsubmit1 {
    width: 100%;
    padding-top: .7rem;
    padding-bottom: .7rem;
    background-color: white;
    border: none;
    box-shadow: 0 .2rem .2rem rgb(205, 205, 205);
    color: #047BD5;
    font-weight: 500;
}

.logintosignup {
    color: #047BD5;
    font-weight: 500;
}
