<div class="container-fluid dropdownmobile">
    <div class="row ">
        <div class="col">
            <div class="row" *ngFor="let d of sportcol1">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of sportcol11">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col dropcol">
            <div class="row" *ngFor="let d of sportcol2">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of sportcol21">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row" *ngFor="let d of sportcol3">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of sportcol31">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col dropcol">
            <div class="row" *ngFor="let d of sportcol4">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of sportcol41">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of sportcol42">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row" *ngFor="let d of sportcol5">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of sportcol51">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of sportcol52">
                <div class=" mobilename">{{d.name}}</div>

            </div>
        </div>
    </div>
</div>