<div class="cartback">
    <div class="cartabsolute">
        <div class="cartgrid ">
            <div class="cartcol1 ">
                <div class="container">
                    <div class="row pt-3 pb-3">
                        <div class="col text-center">
                            <a>Flipkart</a>
                        </div>
                        <div class="col text-center">
                            <a>Grocery</a>
                        </div>
                    </div>
                    <div class="row pincode">
                        <div class="d-flex justify-content-between bg-white pt-3 pb-3 savedaddress">
                            <div>From Saved Address</div>
                            <div><button class="outline outline-btn-primary">Enter Delivery Pincode</button></div>
                        </div>
                    </div>
                    <div class="cartgrid1">
                        <div class="">
                            <img src="../../assets/cricketball.png" class="cartimg">
                            <div class="d-flex justify-content-around">
                                <i class="fa-solid fa-circle-minus"></i>
                                <input type="number" class="quantityno">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                        <div class="cartright">
                            <div class="productitle">sSDADASDDADA</div>
                            <div class="sportsgood">Seller:PGsportsgoods</div>
                            <div class="d-flex align-items-center mt-2">
                                <div class=" cartcost1 "><i class="fa-solid fa-indian-rupee cartrupees1 "></i>1,199</div>
                                <div class="cartcost "><i class="fa-solid fa-indian-rupee cartrupees "></i>349</div>
                                <div class="offerapplied ">67% Off</div>
                                <div class="offerapplied ">1 offer applied</div>
                            </div>
                            <div class="d-flex saveremove">
                                <div class="savelater ">SAVE FOR LATER</div>
                                <div class="savelater ">REMOVE</div>
                            </div>
                        </div>
                        <div>Delivery by Thu Aug 11 | <span class="free">Free</span></div>
                    </div>
                </div>
                <div class="placeorderbtn">
                    <button class="orderbtn">PLACE ORDER</button>
                </div>
            </div>
            <div class="cartcol2 ">
                <div class="cartorderright bg-white">
                    <div class="ms-4">
                        <div class="pricedetails">
                            PRICE DETAILS
                        </div>
                    </div>
                    <hr class="carthr" />
                    <div class="ms-4 me-4">
                        <div class="d-flex justify-content-between mb-2">
                            <div>Price(1 item)</div>
                            <div>999</div>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <div>Discount</div>
                            <div>999</div>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <div>Delivery Charges</div>
                            <div>999</div>
                        </div>
                    </div>
                    <hr class="carthr" />
                    <div class="ms-4 me-4">
                        <div class="d-flex justify-content-between mb-2">
                            <div>Delivery Charges</div>
                            <div>999</div>
                        </div>
                    </div>
                    <hr class="carthr" />
                    <div class="ms-4 me-4 text-success">
                        You will save ₹670 on this order
                    </div>
                </div>
            </div>
        </div>
    </div>