<div class="dropcategories">
    <div *ngFor="let z of dropdowncategory">
        <div class={{z.class}}>
            <div>
                <h6 class="drop dropmenu" appDropDown>{{z.name}}</h6>
                <div class="container-fluid dropdownmenu">
                    <div class="row ">
                        <div class="col">
                            Mobiles
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <div class="col dropcol">
                            Mobiles
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <div class="col">
                            Mobiles
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <div class="col dropcol">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flight">
        <h6 class="drop">Flights</h6>
    </div>
    <div class="offer">
        <h6 class="drop">Offer Zones</h6>
    </div>
</div>