<div class="container-fluid mobile">
    <div class="row dropdowncontain">
        <div class="col-1">
            <h6 class="drop">Electronics</h6>
        </div>
        <div class="col-2">
            <h6 class="drop">TVs & Appliances</h6>
        </div>
        <div class="col-1">
            <h6 class="drop">Men</h6>
        </div>
        <div class="col-1">
            <h6 class="drop">Women</h6>
        </div>
        <div class="col-1">
            <h6 class="drop">Baby & Kids</h6>
        </div>
        <div class="col-2">
            <h6 class="drop">Home & Furniture</h6>
        </div>
        <div class="col-2">
            <h6 class="drop">Sports,Books & More</h6>
        </div>
        <div class="col-1">
            <h6 class="drop">Flights</h6>
        </div>
        <div class="col-1">
            <h6 class="drop">Offer Zones</h6>
        </div>
    </div>
</div>