<div class="container-fluid dropdownmobile">
    <div class="row ">
        <div class="col dropwhite">
            <div class="row" *ngFor="let d of babycol1">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of babycol11">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of babycol12">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of babycol13">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of babycol14">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col dropcol">
            <div class="row" *ngFor="let d of babycol2">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of babycol21">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of babycol22">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of babycol23">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of babycol24">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of babycol25">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of babycol26">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of babycol27">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col dropwhite">
            <div class="row" *ngFor="let d of babycol3">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of babycol21">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col dropcol">
            <div class="row" *ngFor="let d of babycol4">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col dropwhite">
            <div class="row" *ngFor="let d of babycol5">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
    </div>
</div>