/* The navigation menu */

.navba {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
    padding-top: 3rem;
    padding-left: 3vw;
    padding-right: 3vw;
    box-shadow: .2rem .2rem .3rem rgb(204, 204, 204);
}

.fa-angle-down {
    margin-left: .3rem;
    color: rgb(198, 198, 198);
}


/* Navigation links */

.navba a {
    float: left;
    font-size: .85rem;
    font-weight: 640;
    color: black;
    text-align: center;
    padding-top: .8rem;
    padding-bottom: .5rem;
    text-decoration: none;
}


/* The subnavigation menu */

.subnav {
    float: left;
    overflow: hidden;
}


/* Subnav button */

.subnav .subnavbtn {
    font-size: .85rem;
    font-weight: 640;
    border: none;
    outline: none;
    color: black;
    padding-top: .8rem;
    padding-bottom: .5rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


/* Add a red background color to navigation links on hover */

.navbar a:hover,
.subnav:hover .subnavbtn {
    color: blue;
}


/* Style the subnav content - positioned absolute */

.subnav-content {
    display: none;
    position: absolute;
    left: 1vw;
    width: 96.7vw;
    z-index: 1;
}


/* Style the subnav links */

.subnav-content a {
    float: left;
    color: black;
    text-decoration: none;
}


/* Add a grey background color on hover */

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}


/* When you move the mouse over the subnav container, open the subnav content */

.subnav:hover .subnav-content {
    display: block;
}