<div class="navba">
    <div class="subnav">
        <button class="subnavbtn">Mobiles<i class="fa-solid fa-angle-down"></i></button>
        <div class="subnav-content">
            <app-dropdownmobile1></app-dropdownmobile1>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">TVs & Appliances<i class="fa-solid fa-angle-down"></i></button>
        <div class="subnav-content">
            <app-dropdowntv1></app-dropdowntv1>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Men <i class="fa-solid fa-angle-down"></i></button>
        <div class="subnav-content">
            <app-dropdownmen1></app-dropdownmen1>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Women<i class="fa-solid fa-angle-down"></i></button>
        <div class="subnav-content">
            <app-dropdownwomen1></app-dropdownwomen1>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Baby & Kids<i class="fa-solid fa-angle-down"></i></button>
        <div class="subnav-content">
            <app-dropdownbaby1></app-dropdownbaby1>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Home & Furniture<i class="fa-solid fa-angle-down"></i></button>
        <div class="subnav-content">
            <app-dropdownhome1></app-dropdownhome1>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Sports,Books & More<i class="fa-solid fa-angle-down"></i></button>
        <div class="subnav-content">
            <app-dropdownsport1></app-dropdownsport1>
        </div>
    </div>
    <a href="#contact" class="drop">Flights</a>
    <a href="#contact" class="drop">Offer Zone</a>
</div>