<div class="container-fluid dropdownmobile">
    <div class="row ">
        <div class="col">
            <div class="row" *ngFor="let d of womencol1">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of womencol11">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of womencol12">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of womencol13">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of womencol14">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of womencol15">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of womencol16">
                <div class=" mobilename">{{d.name}}</div>
            </div>
        </div>
        <div class="col dropcol">
            <div class="row" *ngFor="let d of womencol2">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of womencol21">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row" *ngFor="let d of womencol3">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of womencol31">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of womencol32">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of womencol33">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of womencol34">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of womencol35">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of womencol36">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of womencol37">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col dropcol">
            <div class="row" *ngFor="let d of womencol4">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of womencol41">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of womencol42">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row" *ngFor="let d of womencol5">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of womencol51">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
    </div>
</div>