.cricket {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr;
    padding-top: .5rem;
    background-color: rgb(231, 231, 231);
    padding-right: .5rem;
}

.productfilter {
    // box-shadow: 0rem .3rem .3rem gray;
    background-color: white;
    margin-right: .5rem;
    margin-left: .5rem;
    padding-left: 1rem;
}

.productscategories {
    font-size: .8rem;
    font-weight: bold;
}

.rating1 {
    margin-bottom: .4rem;
}

.offercheckbox {
    font-size: .9rem;
}

.productimg {
    width: 100%;
    height: 100%;
}

.productrow {
    display: flex;
    margin-top: .7rem;
}

.sportfil {
    margin-top: .3rem;
    font-size: .9rem;
    display: flex;
}

.slidecontainer {
    width: 100%;
}

.slider {
    width: 93%;
    height: .2rem;
}

.minprice {
    width: 6rem;
    height: 1.6rem;
    border-color: rgb(228, 228, 228);
    padding-bottom: .3rem;
    font-size: .9rem;
}

// .min {}
.pricefilter {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-right: 1.1rem;
}

.price {
    display: flex;
    justify-content: space-between;
    width: 94%;
    font-size: small;
    font-weight: bold;
    margin-bottom: 1rem;
}

hr {
    width: 95%;
}

.fassuredcheckbox {
    display: flex;
    align-items: center;
}

.fassured {
    width: 5rem;
    height: 2rem;
    margin-left: .6rem;
}

.accordion,
.accordion-item,
.accordion-header {
    border-style: none;
}

.accordion-header {
    margin-bottom: 0;
}

.accordion-button {
    border-style: none;
    background-color: white;
    color: black;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 0;
    padding-bottom: 0rem;
    padding-left: 0;
}

.bread {
    color: black;
    text-decoration: none;
}

.productname {
    font-size: 1rem;
    color: black;
    padding-left: .4rem;
    padding-right: .3rem;
}

.productquantity {
    font-size: .8rem;
    color: #9b9b9b;
    padding-left: .4rem;
    padding-right: .3rem;
}

.productprice {
    color: black;
    margin-top: .2rem;
    padding-left: .4rem;
    padding-right: .3rem;
}

.productratings {
    margin-left: .4rem;
    font-size: .9rem;
}

.fa-indian-rupee-sign {
    margin-right: .3rem;
}

.productanchor {
    text-decoration: none;
}

.starcheckbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fa-star {
    margin-left: .3rem;
    margin-right: .3rem;
    font-size: .8rem;
}

.singleproduct {
    height: 67%;
    display: flex;
    justify-content: space-between;
}

// .single {
//     margin-left: .9rem;
// }
.single:hover {
    box-shadow: 0rem .3rem .3rem rgb(190, 190, 190);
}

.productcheckbox {
    width: 1rem;
    height: 1rem;
}

.pricecontainer {
    margin-bottom: 1.4rem;
}

.fa-chevron-left {
    font-size: .6rem;
    align-self: center;
    margin-right: .4rem;
}

.profil {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.products {
    // box-shadow: 0rem .3rem .3rem gray;
    background-color: white;
    padding-left: 1.3rem;
}

.breadcrumb {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: .8rem;
}

.cricketshow {
    font-weight: 400;
}

.cricketshowspan {
    font-size: .8rem;
    margin-left: .7rem;
    color: gray;
}

.fa-chevron-right {
    font-size: .5rem;
    align-self: center;
    margin-left: .5rem;
    margin-right: .5rem;
}

.crickpara {
    line-height: 1.45;
    font-size: 12px;
    color: gray;
}

.sortby {
    width: 100%;
}

.sorts {
    font-size: .9rem;
    margin-right: 1rem;
}

.sorts:hover {
    color: #0C73EB;
}

.filterlist {
    display: none;
    list-style: none;
}

.filterclass+.filterlist {
    display: block;
}

.productlistgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: .5rem
}
