<app-innerdropdown></app-innerdropdown>
<div class="cricket">
    <div class="productfilter">
        <div class="profil">Filters</div>
        <hr>
        <div class="productscategories">
            CATEGORIES
        </div>
        <div class="sportfil "><i class="fa-solid fa-chevron-left"></i>Sports</div>
        <div class="sportfil">
            <div>
                <div class="" filterdropdown><i class="fa-solid fa-chevron-left"></i>Cricket</div>
                <ul class="filterlist">
                    <li>Cricket Bat</li>
                    <li>Cricket Ball</li>
                    <li>Cricket Kits</li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="pricecontainer">
            <div class="price">PRICE</div>
            <div class="slidecontainer">
                <input type="range" min="1" max="5001" value={{myrangeval}} class="slider" id="myRange">
            </div>
            <div class="pricefilter">
                <select name="min" id="" class="minprice">
                <option class="min" value="1">Min</option>
                <option class="min" value="500">500</option>
                <option class="min" value="1000">1000</option>
                <option class="min" value="2500">2500</option>
                <option class="min" value="5000">5000</option>
              </select>
                <span>to</span>
                <select name="max" id="" class="minprice" #rangeval>
                <option class="min" value="500">500</option>
                <option class="min" value="1000">1000</option>
                <option class="min" value="2500">2500</option>
                <option class="min" value="5000">5000</option>
                <option class="min" value="5001">5000+</option>
              </select>
            </div>
        </div>
        <hr/>
        <div class="fassuredcheckbox">
            <input type="checkbox" class="productcheckbox">
            <img src="../../../../../assets/fassured.png" class="fassured">
        </div>
        <hr/>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <div class="collapsed price" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        <div>BRAND</div><i class="fa-solid fa-chevron-down"></i>
                    </div>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="">
                        <input type="input" class=""> <br/>
                        <input type="checkbox" class="productcheckbox">
                    </div>
                </div>
            </div>
            <hr/>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <div class="collapsed price" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        <div>CUSTOMER RATINGS</div><i class="fa-solid fa-chevron-down"></i>
                    </div>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="starcheckbox">
                        <div class="d-flex align-items-center rating1">
                            <input type="checkbox" class="productcheckbox">
                            <span class="productratings">4<i class="fa-solid fa-star"></i>& above</span>
                        </div>
                        <div class="d-flex align-items-center rating1">
                            <input type="checkbox" class="productcheckbox">
                            <span class="productratings">4<i class="fa-solid fa-star"></i>& above</span>
                        </div>
                        <div class="d-flex align-items-center rating1">
                            <input type="checkbox" class="productcheckbox">
                            <span class="productratings">4<i class="fa-solid fa-star"></i>& above</span>
                        </div>

                    </div>
                </div>
            </div>
            <hr/>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <div class="collapsed price" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        <div>OFFERS</div><i class="fa-solid fa-chevron-down"></i>
                    </div>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="d-flex align-items-center">
                        <input type="checkbox" class="productcheckbox">
                        <span class="offercheckbox ms-2">No Cost EMI</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="checkbox" class="productcheckbox">
                        <span class="offercheckbox ms-2">Special Price</span>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <div class="collapsed price" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                        <div>DISCOUNT</div><i class="fa-solid fa-chevron-down"></i>
                    </div>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well
                        as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though
                        the transition does limit overflow.
                    </div>
                </div>
            </div>
            <hr/>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                    <div class="collapsed price" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                        <div>GST INVOICE AVAILABLE</div><i class="fa-solid fa-chevron-down"></i>
                    </div>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well
                        as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though
                        the transition does limit overflow.
                    </div>
                </div>
            </div>
            <hr/>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                    <div class="collapsed price" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                        <div>AVAILABILITY</div><i class="fa-solid fa-chevron-down"></i>
                    </div>
                </h2>
                <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well
                        as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though
                        the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="products">
        <div class="breadcrumb"><a routerLink='/homepage' class="bread">Home</a><i class="fa-solid fa-chevron-right"></i><a routerLink="/sports" class="bread">Sports</a><i class="fa-solid fa-chevron-right"></i><a>Cricket</a></div>
        <div class="crickpara">
            <p>Cricket is one sport that most people love. To some, it is one of the most boring games ever invented, but to the rest, it’s the most interesting and engrossing sport in the world. In India, cricket is extremely popular and you can learn it
                from a young age. If you need to buy cricket equipment like cricket bats and cricket balls, cricket wickets, cricket pads you can browse online and buy what you need. You will find all kinds of cricket gear in cricket stores online. This
                information is updated on 31-Jul-22</p>
        </div>
        <div class="mb-1">
            <span class="cricketshow"><strong>Cricket</strong></span><span class="cricketshowspan">(Showing 1 – 40 products of 28,443 products)</span>
        </div>
        <div class="sortby">
            <span class="sorts"><strong>Sort By</strong></span>
            <span class="sorts" (click)="popularity()">Popularity</span>
            <span class="sorts" (click)="lowhighs()">Price -- Low to High</span>
            <span class="sorts" (click)="highlows()">Price -- High to Low</span>
            <!-- <span class="sorts">Newest First</span> -->
        </div>
        <hr class="hr" />
        <div class="productlistgrid">
            <div class="single" *ngFor="let low of cricketproducts">
                <div class="singleproduct">
                    <a routerLink="/cricket/1" class="productanchor">
                        <img src={{low.img}} class="productimg">
                        <div class="productname">{{low.name | productname}} </div>
                        <div class="productquantity">{{low.quant}}</div>
                        <div class="productprice"><i class="fa-solid fa-indian-rupee-sign"></i>{{low.price}}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>