<div class="container-fluid dropdownmobile">
    <div class="row ">
        <div class="col dropwhite">
            <div class="row" *ngFor="let d of mencol1">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of mencol1">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
        <div class="col dropcol">
            <div class="row" *ngFor="let d of mencol2">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of mencol21">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of mencol22">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of mencol23">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of mencol24">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of mencol25">
                <div class=" mobilename">{{d.name}}</div>
            </div>
        </div>
        <div class="col dropwhite">
            <div class="row" *ngFor="let d of mencol3">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of mencol31">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of mencol32">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of mencol33">
                <div class=" mobilename">{{d.name}}</div>
            </div>
        </div>
        <div class="col dropcol">
            <div class="row" *ngFor="let d of mencol4">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of mencol41">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of mencol42">
                <div class=" mobilename">{{d.name}}</div>
            </div>
        </div>
        <div class="col dropwhite">
            <div class="row" *ngFor="let d of mencol5">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of mencol51">
                <div class=" mobilename">{{d.name}}</div>
            </div>
            <div class="row" *ngFor="let d of mencol52">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
            <div class="row" *ngFor="let d of mencol53">
                <div class=" mobilename">{{d.name}}</div>
                <div *ngFor="let x of d.lists">
                    <div class="mobilelist">{{x}}</div>
                </div>
            </div>
        </div>
    </div>
</div>